example/*
!example/
!example/training14b_10pct_sample.json
!example/training14b_3pct_sample.json
!example/13b_golden_50q_sample.json
tmp/
.DS_Store
**/.ipynb_checkpoints
**/__pycache__
*.pyc
output/
!output/OUTPUT_DIRS.md
.env
logs/
indexes/
runs_dense/
.jupyter/
.vscode/
.venv/
report/